<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Официальные цитаты татарско-русской киберспортивной команды YOMO (ЙОМО) ">
    <meta name="keywords" content="yomo, команда yomo, csgo yomo, cs yomo, yomoteam, taiiiga, ilyan, meon, archi, salik">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/quotes.css}">
    <link rel="shortcut icon" href="resources\images\favicon.png" type="image/png">
    <title>Цитаты</title>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="master">
    <header>
        <nav>
            <ul>
                <li><a href="/main">Главная</a></li>
                <li><a href="/team">Состав</a></li>
                <li><a href="/stats">Статистика</a></li>
                <li><a href="/citats">Цитаты</a></li>
                <li class="right_nav"><a th:href="${not logout ? '/login' : '/logout'}" th:text="${not logout ? 'Вход' : 'Выход'}">Вход</a></li>
                <li class="right_nav">
                    <a href="https://github.com/blankfaceTEEN/static-yomo" target="_blank">
                        GitHub
                    </a>
                </li>
                <li class="right_nav">
                    <a href="#" target="_blank">
                        Telegram
                    </a>
                </li>
                <li class="right_nav">
                    <a href="https://www.youtube.com/channel/UCsQFHRAFzfJbW8pM2h2F2tQ/featured" target="_blank">
                        YouTube
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="flex-container">
            <div class="quote">&#171;<span class="words">ТАТАРЫ ПОБЕДИТЕЛИ КОРОН!</span>&#187; &#169; <span class="TYGA">TAIIIGA</span></div>
            <div class="quote">&#171;<span class="words">Хули они ноют, шо я крыса. Я шо виноват, шо это моя позиция в команде...</span>&#187; &#169; <span class="iLYAN">IL'YAN</span></div>
        </div>
    </main>
</div>

<footer>
    <li>
        <a href="https://github.com/blankfaceTEEN/static-yomo" target="_blank">
            GitHub
        </a>
    </li>
    <li>
        <a href="#" target="_blank">
            Telegram
        </a>
    </li>
    <li>
        <a href="https://www.youtube.com/channel/UCsQFHRAFzfJbW8pM2h2F2tQ/featured" target="_blank">
            YouTube
        </a>
    </li>
    <li><a th:href="${not logout ? '/login' : '/logout'}" th:text="${not logout ? 'Вход' : 'Выход'}">Вход</a></li>
</footer>
</body>

</html>